@use "styles";

$border-gap: 5px;

#app {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: $border-gap;
}

header {
  display: flex;
  flex-direction: column;
  gap: $border-gap;
  nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
    gap: $border-gap;
    li.nav__item {
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      &:nth-child(6) {
        font-size: 22px;
      }
    }
  }
  .header {
    &__breadcrumbs {
      padding: 10px 0 10px 50px;
      display: flex;
      gap: 5px;
    }
    &__crumb {
      font-size: 14px;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 2.3fr 1.3fr 1.69fr;
  grid-template-rows: 1.5fr 1fr;
  gap: $border-gap;
  .product {
    &__img {
      grid-row: span 2;
    }
    &__info {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 50px;
      gap: 20px;
      &-row:last-child {
        display: flex;
        gap: 60px;
      }
    }
    &__category {
      font-size: 22px;
    }
    &__name {
      font-size: 44px;
    }
    &__quantity {
      font-size: 36px;
      display: flex;
      gap: 10px;
      &-plus {
        opacity: 0.5;
      }
    }
    &__total-price {
      font-size: 36px;
    }
    &__description {
      padding: 25px 0;
      p {
        width: 70%;
        height: 100%;
        font-size: 14px;
        margin: auto;
      }
    }
    &__faq {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 50px;
      &-question {
        //
      }
    }
  }
}