@use "styles";

@mixin tag($text-color, $border-color) {
  //color: $text-color;
  //border: 1px solid rgba($border-color, 0.5);
  padding: 10px;
  border-radius: 20px;
  white-space: nowrap;
}

#app {
  width: 420px;
  padding: 50px 10px;
}

header {
  overflow-x: scroll;
  .header {
    padding-bottom: 20px;
    &__list {
      display: flex;
      gap: 10px;
      width: max-content;
      &-item {
        @include tag(white, #fff);
        &--inverted {
          //background-color: white;
          //color: black;
        }
      }
    }
  }
}

main {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &__card {
      //color: black;
      //background-color: white;
      padding: 20px 10px;
      border-radius: 15px;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      &:first-child {
        //background-color: #292d33;
        //color: white;
        //border: 1px solid white;
      }
      &:nth-child(2) {
        //background-color: #f5f4ef;
      }
      &:nth-child(3) {
        //background-color: #f8fcb5;
      }
      &:nth-child(4) {
        //background-color: #b19ff6;
      }
      &:nth-child(5) {
        //background-color: #fed3d3;
      }
      &:nth-child(6) {
        //background-color: #d0fedf;
      }
      &:nth-child(3n) {
        grid-column: span 2;
      }
    }
    .card {
      &__title {
        font-size: 28px;
      }
      &__footer {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__price {
        @include tag(black, #000);
        &--free {
          //background-color: rgb(255, 221, 44);
        }
        &--per-month {
          //background-color: pink;
        }
      }
      &__length {
        @include tag(black, #000);
        //background-color: white;
      }
    }
  }
}
