@use "styles";

#app {
  width: 480px;
}

header {
  padding: 50px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  .total {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    &__price {
      font-size: 22px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .item {
      display: flex;
      flex-direction: column;
      position: relative;
      &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 15px;
        &-column {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &:nth-child(2) {
            align-items: flex-end;
          }
        }
      }
      &__title {
        font-size: 42px;
      }
      &__subtitle {
        font-size: 14px;
      }
      &__total-price {
        font-size: 36px;
      }
      &__per-price {
        font-size: 18px;
      }
      &__specs {
        display: grid;
        grid-template-columns: repeat(auto-fill, 125px);
      }
      &__spec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 25px;
        &-img {
          position: absolute;
          width: 30%;
          height: 60%;
          right: 15px;
          bottom: 0;
          background-color: red;
        }
      }
    }
  }
}